.button {
	display: inline-block;
	padding: 6px 12px;
	border-radius: 24px;
	border: 1px solid $accent;
	text-decoration: none;
	font-weight: 300;
	color: $accent;
	transition: .2s;
	&:hover {
		background: bg-opacity($accent, 0.7);
		color: #fff;
	}
}