@function bg-opacity($color, $opacity: 0.3){
	@return rgba($color, $opacity);
}

@mixin background-opacity($color, $opacity: 0.3) {
    background: $color;
    background: bg-opacity($color, $opacity);
}

@mixin media($_name) {
  @each $breakpoint in $breakpoints {
    $name: nth($breakpoint, 1);
    $expression: nth($breakpoint, 2);
    @if $_name == $name and $expression {
      @media only screen and #{$expression} {
        @content;
      }
    }
  }
}