.post-nav {
	margin-bottom: 24px;
}

.post-content {
	margin-top: 24px;
	> p {
		margin-bottom: 12px;
	}
}

.meta {
	margin-top: -18px;
}

.mailchimp, .comments {
	margin: 48px 0;
}

.promos {
	height: 300px;
	background: url(/img/host.png) no-repeat center center;
	background-size: cover;
	position: relative;
	color: #fff;
	padding: 24px;
	h2 {
		margin-bottom: 6px;
	}
	.button {
		border: none;
		position: absolute;
		bottom: 24px;
	}
}