.posts {
	li {
		margin-bottom: 12px;
		.post-link {
			display: block;
			width: 100%;
			height: 100%;
			text-decoration: none;
			font-size: 22px;
			font-weight: 500;
			margin-bottom: 12px;
		}
	}
}